@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body { background: #eee; font-family: 'Lato', sans-serif; }

/* header */
header { height: 113px; }
header a { float: left; padding: 35px 35px 35px 0; left: 0; top: 0; }
header a img { display: inline-block; width: 415px; height: 45px; }
header .lnb { float: right; }
header .lnb li { float: left; }
header .lnb li a { padding: 0 60px; font-size: 18px; height: 113px; line-height: 113px; }
/* //header */

.wrap { margin: 0 130px; }

/* email */
#email { text-align: center; }
#email h2 { padding: 10px; font-size: 30px; }
#email form input[type=email] { display: block; margin: 10px auto 20px; border: 1px solid #767676; border-radius: 2px; width: 280px; height: 28px; font-size: 15px; color: #757575; }
#email form .submit { width: 150px; height: 35px; padding-right: 10px; border: none; border-radius: 3px; font-size: 15px; font-weight: 1000; text-align: right; background: #f1c40f; color: #000; }
/* //email */

/* features */
.features { margin-top: 100px; }
.features li { position: relative; display: table; padding: 70px 0; width: 100%; }
.features li .icon { position: absolute; left: 0; top: 50%; display: table-cell; width: 90px; height: auto; color: #ff8c00; transform: translateY(-50%); }
.features .desc { position: absolute; left: 150px; top: 50%; transform: translateY(-50%); }
.features .desc h2 { font-size: 28px; }
.features .desc p { font-size: 18px; }
/* //features */

/* how-it-works */
.how_it_works { margin: 50px 0 100px; display: flex; justify-content: center; }
.how_it_works > iframe { max-width: 560px; width: 100%; }
/* //how-it-works */

/* pricing */
.pricing { display: flex; flex-direction: row; text-align: center; justify-content: space-between; }
.pricing .product { display: flex; width: 470px; margin-right: 20px; flex-direction: column; font-size: 16px; align-items: center; border: 1px solid #000; border-radius: 3px; }
.pricing .product:last-child { margin-right: 0; }
.pricing .product .level { padding: 15px 0; text-transform: uppercase; background: #ddd; width: 100%; font-weight: 700; }
.pricing .product h2 { padding-top: 18px; }
.pricing .product ol { padding: 15px 0; }
.pricing .product li { line-height: 30px; }
.pricing .product button { margin: 10px 0; padding: 10px 20px; border-radius: 2px; font-size: 17px; text-transform: uppercase; background: #f1c40f; border: none; }
/* //pricing */

/* footer */
footer { margin-top: 60px; right: 0; width: 100%; background: #ddd; font-size: 15px; }
footer ul { display: flex; justify-content: flex-end; }
footer li { float: left; }
footer li a { display: block; padding: 20px 1px 5px; }
footer li a:last-child { padding-right: 30px; }
footer span { display: flex; justify-content: flex-end; font-size: 14px; color: #444; padding: 0 20px 20px; }
/* //footer */
